.info-section {
    width: 100%;
    margin: auto;
    border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  background-color: transparent; /* Dark blue like image */
  padding: 20px;
}

.info-card {
  background-color: #093558c0;
  color: white;
  width: 180px;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  /* box-shadow: 0 0 10px rgba(255, 92, 155, 0.418); initial subtle pink shadow */
  transition: all 0.3s ease-in-out;
  position: relative;
  scale: 0.9;
}

.info-card:hover {
  box-shadow: 0 0 20px#ffe600d0, 0 0 40px #ff5101d3;
  transform: translateY(-5px);
}

.icon {
  font-size: 2rem;
  margin-bottom: 10px;
  background: linear-gradient(45deg,#ff0180,#a200ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 5px 0;
  
  /* background: linear-gradient(45deg, #ff0180,#a200ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

p {
  font-size: 0.95rem;
  color: #e0e0e0;
}

/* Responsive design */
@media (max-width: 768px) {
  .info-card {
    width: 45%;
  }
}

@media (max-width: 480px) {
  .info-card {
    width: 45%
  }
}
