.trainners{
  max-width:1300px;
  margin:auto;
  padding:3rem;
  border-radius:20px;
  background:rgba(255,255,255,0.03);
  backdrop-filter:blur(10px);
  box-shadow:0 0 10px rgba(0,0,0,0.5);
  width:95%;
  margin-bottom:4rem;
  text-align:center;
}

.trainners h2{
  font-size:35px;
  margin-bottom:1rem;
}

.trainners p{
  font-size:17px;
}


/* TOP TRAINERS */

.top-trainers{
  margin-top:5rem;
  display:flex;
  justify-content:center;
  gap:40px;
  flex-wrap:wrap;
}

.top-card{
  width:340px;
  background:rgba(0,0,0,0.3);
  border-radius:18px;
  overflow:hidden;
  backdrop-filter:blur(10px);
  box-shadow:0 10px 25px rgba(0,0,0,0.5);
  transition:0.3s;
}

.top-card:hover{
  transform:translateY(-6px);
}


/* IMAGE */

.top-img{
  position:relative;
  height:200px;
}

.top-img img{
  width:100%;
  height:100%;
  object-fit:cover;
  object-position: top;
}


/* BADGE */

.badge{
  position:absolute;
  top:12px;
  left:12px;
  background:#196dcc;
  color:white;
  font-size:12px;
  padding:4px 12px;
  border-radius:20px;
}


/* CONTENT */

.top-content{
  padding:20px;
}

.top-content h3{
  font-size:20px;
  margin-bottom:10px;
}

.top-content p{
  font-size:16px;
}

/* GRID TRAINERS */

.trainer-grid{
  margin-top:60px;
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(300px,300px));
  justify-content:center;
  gap:35px 60px;
}

.trainer-card{
  background:rgba(0,0,0,0.3);
  padding:25px;
  border-radius:16px;
  backdrop-filter:blur(10px);
  box-shadow:0 10px 20px rgba(0,0,0,0.4);
  transition:0.3s;
} 

.trainer-card:hover{
  transform:translateY(-6px);
}

.trainer-card img{
  width:100px;
  height:100px;
  border-radius:50%;
  object-fit:cover;
  object-position: top;
  margin-bottom:12px;
  border:1.5px solid white;
}

.trainer-card:hover img{
  border:1.5px solid #5cb6ff;
  transform:scale(1.05);
}

.trainer-card h4{
  font-size:18px;
  margin-bottom:10px;
}

.trainer-card:hover h4{
  color:#25a2eb;
}

.top-card:hover .top-content h3{
  font-size:20px;
  margin-bottom:6px;
  color:#25a2eb;
}

.trainer-card p{
  font-size:15px;
  opacity:0.8;
}

.top-card:hover,
.trainer-card:hover{
  transform:translateY(-6px);
  box-shadow:
  0 12px 25px rgba(0,0,0,0.5),
  0 0 15px rgba(0,140,255,0.25);
}

/* TABLET */

@media(max-width:900px){

.trainer-grid{
  grid-template-columns:repeat(2,1fr);
  
  gap:20px;
}

}


/* MOBILE */

@media(max-width:500px){

.trainners{
    padding: 3rem 1.5rem;
}

.trainer-grid{
  grid-template-columns:repeat(2,1fr);
}

.top-card{
  width:100%;
}

.trainners h2{
  font-size:28px;
}

}